<?xml version="1.0" encoding="UTF-8"?>
<config>
    <pathGroup path="C:\foo\bar">
        <path key="bond_input" subpath="bonds.csv"/>
        <path key="other_input" subpath="others.csv"/>
    </pathGroup>
    <pathGroup path="C:\thud\whack">
        <path key="bond_ouput" subpath="bonds.csv"/>
        <path key="other_output" subpath="others_out.csv"/>
    </pathGroup>    
</config>